@model ElectionManagement.Web.Models.ConstituencyViewModel

@{
    ViewData["Title"] = "Create";
}


<h4>New Constituency</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConstituencyName" class="control-label"></label>
                <input asp-for="ConstituencyName" class="form-control" />
                <span asp-validation-for="ConstituencyName" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select id="drpStateList" class="form-control" asp-for="State" asp-items="@(new SelectList(ViewBag.StateList, "Id", "Name"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
                <input type="hidden" asp-for="State" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Constituency</a>
</div>

